In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, round, avg

import the SparkSession class to create a Spark environment for data processing, and import the functions col, round, and avg to select DataFrame columns, calculate averages, and round numerical values.

In [2]:
spark = SparkSession.builder.appName("HousingDataFrameExample").getOrCreate()

This statement creates a Spark session named "HousingDataFrameExample", establishing the Spark environment needed to read, process, and analyze data using DataFrames.

In [3]:
df = spark.read.csv("Housing.csv", header=True, inferSchema=True)

reads the file "Housing.csv" into a Spark DataFrame, using the first row as headers and automatically inferring the data types of each column.

In [4]:
print("=== First 10 rows ===")
df.show(10)

=== First 10 rows ===
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|   price| area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|13300000| 7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|
|12250000| 8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|
|12250000| 9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|
|12215000| 7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|
|11410000| 7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|
|10850000| 7500|       3|        3|      1|     yes|       no|     yes|             no|            yes|      2|     yes|  semi-furnished|
|10150000| 8580|       4|        3|      4|     yes|       no|      no|             no|            yes|      2|     yes|  semi-furnished|
|10150000|16200|       5|        3|      2|     yes|       no|      no|             no|             no|      0|      no|     unfurnished|
| 9870000| 8100|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|     yes|       furnished|
| 9800000| 5750|       3|        2|      4|     yes|      yes|      no|             no|            yes|      1|     yes|     unfurnished|
+--------+-----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 10 rows

To display a header message and then show the first 10 rows of the DataFrame, providing a quick view of the datasetâ€™s contents.

In [5]:
print("=== Schema ===")
df.printSchema()

=== Schema ===
root
 |-- price: integer (nullable = true)
 |-- area: integer (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- stories: integer (nullable = true)
 |-- mainroad: string (nullable = true)
 |-- guestroom: string (nullable = true)
 |-- basement: string (nullable = true)
 |-- hotwaterheating: string (nullable = true)
 |-- airconditioning: string (nullable = true)
 |-- parking: integer (nullable = true)
 |-- prefarea: string (nullable = true)
 |-- furnishingstatus: string (nullable = true)

To display a header message and then show the schema of the DataFrame, including column names, data types, and nullability.

In [6]:
print("Total rows:", df.count())

Total rows: 545

prints the total number of rows in the DataFrame, representing the total number of records in the dataset.

In [7]:
print("Columns:", df.columns)

Columns: ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'furnishingstatus']

In [8]:
df.select("area", "bedrooms", "price").show(10)

+-----+--------+--------+
| area|bedrooms|   price|
+-----+--------+--------+
| 7420|       4|13300000|
| 8960|       4|12250000|
| 9960|       3|12250000|
| 7500|       4|12215000|
| 7420|       4|11410000|
| 7500|       3|10850000|
| 8580|       4|10150000|
|16200|       5|10150000|
| 8100|       4| 9870000|
| 5750|       3| 9800000|
+-----+--------+--------+
only showing top 10 rows

selects the "area", "bedrooms", and "price" columns from the DataFrame and displays the first 10 rows of these selected columns.

In [9]:
df.filter((col("area") >= 7800) & (col("price") <= 9240000)).show(5)

+-------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|  price|area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|
+-------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
|9240000|7800|       3|        2|      2|     yes|       no|      no|             no|             no|      0|     yes|  semi-furnished|
|8960000|8500|       3|        2|      4|     yes|       no|      no|             no|            yes|      2|      no|       furnished|
|8645000|8050|       3|        1|      1|     yes|      yes|     yes|             no|            yes|      1|      no|       furnished|
|8575000|8800|       3|        2|      2|     yes|       no|      no|             no|            yes|      2|      no|       furnished|
|8400000|8875|       3|        1|      1|     yes|       no|      no|             no|             no|      1|      no|  semi-furnished|
+-------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+
only showing top 5 rows

filters the DataFrame to include only houses with an area of at least 7800 and a price of at most 9,240,000, and then displays the first 5 matching rows.

In [10]:
df_with_pps = df.withColumn("price_per_area", round(col("price") / col("area"), 2))
df_with_pps.show(5)

+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+--------------+
|   price|area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|price_per_area|
+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+--------------+
|13300000|7420|       4|        2|      3|     yes|       no|      no|             no|            yes|      2|     yes|       furnished|       1792.45|
|12250000|8960|       4|        4|      4|     yes|       no|      no|             no|            yes|      3|      no|       furnished|       1367.19|
|12250000|9960|       3|        2|      2|     yes|       no|     yes|             no|             no|      2|     yes|  semi-furnished|       1229.92|
|12215000|7500|       4|        2|      2|     yes|       no|     yes|             no|            yes|      3|     yes|       furnished|       1628.67|
|11410000|7420|       4|        1|      2|     yes|      yes|     yes|             no|            yes|      2|      no|       furnished|       1537.74|
+--------+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+--------------+
only showing top 5 rows

create a new column "price_per_area" by dividing the "price" by "area" and rounding the result to two decimal places, then display the first 5 rows of the updated DataFrame.

In [11]:
df_with_pps.filter(col("price_per_area") >= 8000).orderBy(col("price_per_area").desc()).show(5)

+-----+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+--------------+
|price|area|bedrooms|bathrooms|stories|mainroad|guestroom|basement|hotwaterheating|airconditioning|parking|prefarea|furnishingstatus|price_per_area|
+-----+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+--------------+
+-----+----+--------+---------+-------+--------+---------+--------+---------------+---------------+-------+--------+----------------+--------------+

This statement filters the DataFrame to include only houses with a "price_per_area" of at least 8000, orders them in descending order by "price_per_area", and displays the top 5 rows.

In [12]:
df_with_pps.groupBy("bedrooms").agg(
    round(avg("price"), 2).alias("avg_price"),
    round(avg("price_per_area"), 2).alias("avg_pps")
).show()

+--------+----------+-------+
|bedrooms| avg_price|avg_pps|
+--------+----------+-------+
|       1| 2712500.0| 743.05|
|       6| 4791500.0|1193.44|
|       3|4954598.13|1029.64|
|       5| 5819800.0| 1089.3|
|       4|5729757.89|1077.88|
|       2|3632022.06| 847.85|
+--------+----------+-------+

filters the DataFrame to include only houses with a "price_per_area" of at least 8000, orders them in descending order by "price_per_area", and displays the top 5 rows.